/* imports from "fonts.google.com"*/
@import url("/w20/css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* ************************************ */

/* General view */
.sitePlan {
    text-decoration: none;
    color: black;
}
body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "libre baskerville", serif;
    line-height: 1.3em;
}
header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}
.footerlink {
    color: yellowgreen;
    text-decoration: none;
}
.copy_right {
    text-align: center;
}
/* ************************************ */
/* Desktop view */
@media only screen and (min-width: 60rem) {
    body{
        font-size: 25px;
    }
    header {
        font-size: 20px;
    }
    .mainHr {
        border: 1px solid black;
    }
    .himg {
        width: 200px;
        float: right;
        padding-right: 1em;

    }
    .date {
        font-size: 16px;
    }
}
/* ************************************ */
/* Small view */
@media only screen and (max-width: 60rem) {
    /* body{
        font-size: 16px;
    }
    header {
        font-size: 12px;
    }
    .mainHr {
        border: 1px solid black;
    }
    .himg {
        width: 150px;
        float: right;
        padding-right: .5em;
    }
    .date {
        font-size: 13px;
    } */
    body {
        display: block;
    }
}
/* ************************************ */