/* imports always come first */
@import url("/w20/css/normalize.css");


/* general rules that apply to all devices */
/* html *{
    box-sizing: border-box;
} */

/* *::before, *::after{
    box-sizing: border-box;
} */

body{
    font-size: 18px; /*1em or 1rem*/
    background-color: whitesmoke;
    /* padding-left: 2em; */
}
/* .main_nav, ul, li a {
    text-decoration: none; removes underlining
    list-style: none; removes the bullet
    
} */
.main_nav ul {
    margin : 0;
    list-style: none; /* removes the bullets! */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}
.main_nav li a:hover {
    color: #1b2a41;
  /*   background-color: whitesmoke; */
}
.main_nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.main_nav a {
    color: #696969;
    font-family: "Crimson Text";
    font-size: 1.1em;
    text-decoration: none;
}
.himg {
    width: 250px;
    height: 200px;
    float: right;
}
.image {
    width: 300px;
    margin-left: 4em;
}
h1 {
    background-color: whitesmoke;
    font-family: "uppercut angle", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.7em;
}
h2, h3, nav li a {
    padding-left: 1em;
}
.sent {
    padding-left: 2em;
}
footer {
    color: black;
}
.copy_right {
    text-align: center;
}
main {
    padding: 5px;
    padding-bottom: 5px;
}
.head2 {
    text-align: center;
}
.hyperlink {
    text-decoration: underline;
    color: black;
    margin-left: 8em;
}
.hyperlink:hover {
    color: white;
}
section {
    border: 1px solid black;
    width: 450px;
    padding-bottom: 5px;
}
p {
    margin-left: 10px;
    text-align: center;
    
}
@media screen and (max-width: 550px) { 
    /* beginning of media query */
    .home-grid, nav ul, .banner-box {
      display: block;
}
}