/* imports always come first */
@import url("/w20/css/normalize.css");


/* general rules that apply to all devices */
/* html *{
    box-sizing: border-box;
} */

/* *::before, *::after{
    box-sizing: border-box;
} */

body{
    font-size: 18px; /*1em or 1rem*/
}
.himg {
    width: 250px;
    height: 200px;
    float: right;
}
h1 {
    background-color: rgb(83, 59, 59);
    padding-left: 0.7em;
}
h2 {
    padding-left: 1em;
}
nav, li, a {
    padding-left: 1em;
}
footer {
    background-color: rgb(83, 59, 59);
}
.copy_right {
    text-align: center;
}

/* mobile rules next */
/* #wrapper{
    width: 100%;
    background-color: yellow;
} */

/* larger screen rules */
/* @media screen and (min-width: 680px){
    #wrapper{
        width: 80;
        margin: 0 auto;
        max-width: 1300px;
        background-color: wheat;
        font-size: 4vw;
    }

    #navLsit{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-evenly; 
    }
} */