/* imports from "fonts.google.com" and "fonts.adobe.com" */
@import url("/w20/css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* ************************************ */

/* General view */
body {
    font-family: "libre baskerville", serif;
    width: 100%;
}
header {
    text-align: center;
    background-color: #0D0808;
    padding: .1em;
}
h1 {
    font-family: Pacifico;
    color: white;
}
h3, .byline {
    color: white;
}
.byline {
    font-size: 10px;   
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
}
p {
    margin: 10px;
    line-height: 1.3em;
}
.fonts {
    margin: 10px;
    width: 50%;
}
.colorPalette {
    width: 70%;
    margin: 10px;
}
.site_logo {
    width: 30px;
    background-color: black;
    margin-left: 48%;
}
.site_link {
    color: #9ACD32;
}
/* ************************************ */

/* Desktop view */
@media only screen and (min-width: 60rem) {
    body {
        font-size: 21px;
    }
    .date {
        font-size: 16px;
    }
}
/* ************************************ */
/* small screen view */
@media only screen and (max-width: 60rem) {
    .date {
        font-size: 13px;
    }
}
/* ************************************ */
