@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');
/* Change box model  */
html {
    box-sizing: border-box;
}
   
*, *::before, *::after{
    box-sizing: inherit;
}
   
/* General Styles */
body{
font-size: 24px; 
}
#wrapper {
    padding: 2vw;
}
h1 {
    font-family: Oswald;
}
   
   
/* Mobile First Styles */

ul {
    display: flex;
    padding: 0;
    list-style: none;
}
   
   
   
   /* Larger Screen Styles  */
   