/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


* {
    margin: 0;
    padding: 0;
}
.home {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    cursor: default;
}
.mainHead {
    background: #000;
    /* padding: 20px; */
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.socials {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-left: 50px;
}
.socials a {
    margin-right: 20px;
}
.topic {
    margin-right: 20px;
}
.s-con {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    color: #000;
}
.downloads {
    background-color: #800000;
    margin-right: 50px;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
}
.homeImage {
    height: 92vh;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/WhatsApp%20Image%202024-03-28%20at%2020.25.46_ef73a7b4.jpg?v=1712333477486');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.resume {
    margin-right: 30px;
}
.r-con {
    margin-right: 20px;
    color: #fff;
}

.top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    top: 100px;
}
.develop {
    background-color: rgba(225, 225, 225, 1);
    margin-top: 80px;
    height: auto;
    width: 20%;
}
.design {
    padding: 20px 10px;
    background-color: rgba(225, 225, 225, 1);
    height: auto;
    width: 20%;
}
.dev {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
}
.devEx {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}
.innerTop {
    padding: 20px 10px 5px 10px;
}
.list {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 500;
    list-style: none;
}
.circle {
    font-size: 5px;
    margin-right: 5px;
}
.red {
    width: 100%;
    padding: 10px 0;
    background-color: #800000;
    display: flex;
    justify-content: space-evenly;
}
.icon {
    color: #fff;
}
.enter {
    padding: 10px 10px;
    font-size: 25px;
    margin-right: 10px;
}
.end {
    width: 100%;
    display: flex;
    justify-content: end;
}

.bottom {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    bottom: 100px;
}
.intro {
    background-color: #10131D;
    padding: 20px 80px 30px 10px;
    font-size: 12px;
}
.intro .p {
    color: #fff;
    margin-bottom: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.fLeft .p, .fRight .p {
    color: #fff;
}
.fLeft {
    text-align: left;
}
.fRight {
    text-align: right;
}
.colored {
    color: #E9BE25;
}
.num {
    margin-right: 5px;
    color: rgba(225, 225, 225, 0.5);
}
.artist {
    padding: 20px 10px 5px 10px;
    background-color: rgba(225, 225, 225, 1);
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    align-items: center;
}
.art {
    font-size: 20px;
    font-weight: 600;
}
.stylus {
    width: 100px;
}
.footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: end;
    font-size: 10px;
    margin-bottom: 30px;
    font-weight: 100;
}



/* mobile */
@media only screen and (max-width: 60rem) {
    .downloads {
        display: none;
    }
    .top {
        flex-direction: column;
        align-items: center;
    }
    .develop {
        width: 60%;
        margin-bottom: 20px;
    }
    .design {
        width: 60%
    }
    .bottom {
        flex-direction: column-reverse;
        align-items: center;
    }
    .top {
        position: none;
    }
    .intro {
        display: none;
    }
    .artist {
        width: 80%;
    }
}