@media only screen and (min-width: 90rem) {

    .holdimg {
        /* width: 500vm; */
        height: 200px;
    }   
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        justify-content: center;
        margin: 0 auto;
        border: 1px solid black;
        justify-content: center;
    }
}

@media only screen and (max-width: 80rem) {
    .holdimg {
        /* width: 500px; */
        height: 200px;
    }   
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
        max-width: 85%;
        margin: 0 auto;
        border: 1px solid black;
        justify-content: center;
    }
}

@media only screen and (max-width: 60rem) {
    body {
        display: block;
    }
    .holdimg {
        /* width: 500px; */
        height: 200px;
        /* margin-top: 5em; */
    }   
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}