/* imports from "fonts.google.com" and "fonts.adobe.com" */
/* @import url("/w20/css/normalize.css"); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
/* ************************************ */

/* General view  */
h1 {
    font-family: pacifico;
}
body {
    font-family: "libre baskerville", serif;
    width: 100%;
    margin: 0;
}
.site_logo {
    background-color: black;
}
.quote_1 {
    font-family: quicksand;
}
.main_nav {
    text-decoration: none;
    font-family: teko;
}
.main_nav a{
    color: #600011;
    font-weight: bold;
}
.helo {
    font-family: Volkhov;
    font-weight: bold;
}
.intro {
    font-family: quicksand;
    font-weight: bold;
}
/* ***************** */

/* Desktop view */
@media only screen and (min-width: 60rem) {
    /* body {
        font-size: 12px;
    } */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 25px 20px 20px 20px 20px 20em;
        color: #ffffff;
        background-color: #000000;
        padding: 10px;
        grid-gap: 5px;
    }
    .icons {
        width: 16px;
        grid-column: 4/5;
        justify-self: end;
    }
    .main_divider {
        height: 200px;
        width: 2px;
        border-radius: 5px;
        background-color: #ffffff;
        grid-column: 2/4;
        grid-row: 6/7;
        justify-self: center;
        align-self: start;
    }
    .site_name {
        grid-column: 1/2;
        align-self: start;
        justify-self: start;
        margin-top: 0;
    }
    .main_nav {
        grid-column: 4/5;
        justify-self: end;
    }
    .site_logo {
        width: 16px;
        grid-column: 2/4;
        justify-self: center;
    }
    .helo {
        font-size: 100px;
        font-weight: bold;
        grid-column: 2/3;
        grid-row: 6/7;
        justify-self: end;
        align-self: start;
        margin-top: 30px;
    }
    .intro {
        grid-column: 3/4;
        grid-row: 6/7;
        margin-left: 5px;
        align-self: start;
        margin-top: 0;
    }
    main {
        margin: 10px;
    }
    .bod {
        border: 1px solid #000000;
        width: 400px;
        height: 500px;
        text-align: center;
        border-radius: 10px;
        box-shadow: #000000 2px 2px 5px 2px;
    }
    .main_nav a {
        font-size: 21px;
        padding-left: 10px;
        text-decoration: none;
    }
    .intro {
        font-size: 12px;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    .copy_right {
        font-size: 10px;
        text-align: center;
    }
    .quote_1 {
        font-size: 16px;
    }
    .containerh {
        display: flex;
        justify-content: space-between;
        width: 700px;
    }
    .containerh div {
        text-align: center;
    }
}
/* ***************** */

/* Small screen view */
@media only screen and (max-width: 60rem) {
    .site_logo {
        width: 15px;
    }
    .icons {
        width: 15px;
    }
    footer {
        font-size: 8px;
        text-align: center;
    }
}
/* ***************** */
