/* imports from "fonts.google.com" and "fonts.adobe.com" */
/* @import url("/w20/css/normalize.css"); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
/* ************************************ */

/* Small view  */
h1 {
    font-family: pacifico;
}
body {
    font-family: "libre baskerville", serif;
    width: 100%;
    margin: 0;
}
header {
    color: #000000;
    background-color: whitesmoke;
    height: 250px;
    z-index: 0;
}
.mainHead {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0, 30%);
    margin-top: -20px;
    height: 80px;
    padding-top: 10px;
    z-index: 10;
}
.siteName {
    font-size: 25px;
    color: #000;
    margin-left: .5em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px ;
}
.par {
    display: flex;
}
.icons {
    width: 25px;
}
.iconic {
    width: 20px;
    flex: 1;
    order: 2;
}
#intro {
    order: 1;
    flex: 15;
    display: flex;
}
.helo {
    font-family: Volkhov;
    font-size: 40px;
    font-weight: bold;
    flex: 1;
    order: 1;
    align-self: center;
}
.intro {
    font-family: quicksand;
    font-weight: bold;
    font-size: 10px;
    flex: 3;
    order: 2;
}
.mainDivider {
    background-color: black;
    height: 140px;
    width: 2px;
    order: 2;
}
.main_nav {
    text-decoration: none;
    font-family: teko;
    padding: 2em;
}
.main_nav a{
    color: #600011;
    font-weight: bold;
    padding: .3em;
}
.quote_1 {
    font-family: quicksand;
}
/* ***************** */

/* Desktop view */
@media only screen and (min-width: 60rem) {
}
/* ***************** */
