/* imports from "fonts.google.com" and "fonts.adobe.com" */
@import url("/w20/css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* ************************************ */

/* General view  */
body {
    font-family: "libre baskerville", serif;
    width: 100%;
}
.site_logo {
    background-color: black;
}
.quote_1 {
    font-family: quicksand;
}
/* ***************** */

/* Desktop view */
@media only screen and (min-width: 60rem) {
    body {
        font-size: 40px;
    }
    .site_logo {
        width: 50px;
    }
    .icons {
        width: 50px;
    }
    main {
        margin: 10px;
        font-size: 40px;
    }
    .copy_right {
        font-size: 30px;
        text-align: center;
    }
    .quote_1 {
        font-size: 60px;
    }
}
/* ***************** */

/* Small screen view */
@media only screen and (max-width: 60rem) {
    .site_logo {
        width: 15px;
    }
    .icons {
        width: 15px;
    }
    footer {
        font-size: 8px;
        text-align: center;
    }
}
/* ***************** */
