/* imports from "fonts.google.com" and "fonts.adobe.com" */
/* @import url("/w20/css/normalize.css"); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


/* @import "path/to/font-awesome/less/font-awesome.less";
@FontAwesomePath:   "../font"; */
/* ************************************ */

/* Small view  */
body {
    background-image: url('/Porfolio/images/background-banner[mobile-view].jpg' );
    background-color: black;
    background-size: 5000px;
    margin: 0;
    font-family: "libre baskerville", lato, Roboto, sans-serif;
    font-size: 11px;
}
p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.devP a, .info a {
    text-decoration: none;
    color: #26A69A;
}
.devP strong {
    text-decoration: underline;
}
.abME {
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
}
hr {
    width: 50%;
    height: 1px;
    background-color: black;
}
.hr {
    margin-top: 100px;
}
h1 a {
    font-size: 35px;
    font-family: Anton;
    margin-left: 15px;
    font-weight: 100;
    margin-top: 18px;
    color: #fff;
    text-decoration: none;
}
#mainHead {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    color: #fff;
    background-color: #101010;
    height: 70px;
    margin-top: -5px;
    box-shadow: 0px 6px 10px -1px #3a3a3a;
}
.byline {
    font-family: Pacifico;
    font-size: 12.5px;
    color: dimgray;
    margin-top: 40px;
    margin-left: 4px;
}
.profileImage {
    width: 70px;
    margin-right: 60%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: -20px;
    border-radius: 25px;
    box-shadow: 0px 6px 10px -1px #3a3a3a;
}
.aboutProfileImage {
    width: 100px;
    margin-top: -10em;
    border-radius: 50px;
    box-shadow: 0px 6px 10px -1px #3a3a3a;
}
.contactInfo p {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #800000;
}
.mainMenu {
    margin-left: 75%;
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 0px solid #000;
    border-radius: 50px;
    background-color: maroon;
    box-shadow: 0px 1.5px 50px whitesmoke;
    z-index: 99999;
}
.menuBar {
    width: 25px;
    height: 3px;
    border-radius: 50px;
    background-color: #f5f5f5;
    /* transition: all .5s ease-in-out; */
}
.menuBar::before, .menuBar::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 50px;
    background-color: #f5f5f5;
    transition: all .5s ease-in-out;

}
.menuBar::before {
    transform: translateY(-10px);
}
.menuBar::after {
    transform: translateY(10px);
}
.mainMenu.open .menuBar {
    transform: translateX(0px);
    background: transparent;
}
.mainMenu.open .menuBar::before {
    transform: rotate(45deg) ;
}
.mainMenu.open .menuBar::after {
    transform: rotate(-45deg);
}
.mainNav {
    display: none;
}
.mainNav a {
    font-family: Quicksand;
    font-size: 16px;
    width: 130px;
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 10px;
    background-color: #800000;
    border-radius: 10px;
}
.aline {
    border-bottom: 20px solid #fff;
}
.aline.active, #active {
    background: #808080;
}
.mainNavShow {
    display: block;
    margin-bottom: 300px;
    margin-right: 90px;

}
.iconic {
    display: none;
}
.icons {
    width: 50px;
}
.intro {
    font-family: "Teko";
    font-size: 16px;
    line-height: 1.1em;
    margin-top: 0px;
    margin-left: 0px;
}
#intro {
    /* display: flex; */
    /* background-color: whitesmoke; */
    margin-top: 25px;
    height: 450px;
    padding-top: 40px;
    margin-left: 5px;
    z-index: 10;
}
.par {
    background-color: whitesmoke;
}
.pin {
    margin-top: -50px;
    text-align: right;
    font-size: 20px;
    text-shadow: -1px -5px 8px #000;
}
.word {
    height: 200px;
    margin-top: -50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-right: 20px;
    padding-left: 20px;
    /* padding-top: px; */
    box-shadow: 0px 0px 10px #000;
}
.resume {
    font-family: 'Rock Salt';
    font-size: 16px;
    font-weight: bold;
    color: #800000;
    text-decoration: none;
    border: 2px solid #000;
    margin-top: -50px;
    /* margin-right: 40px; */
    margin-bottom: 0px;
    margin-left: 50%;
    padding: 5px 20px 5px 25px;
    box-shadow: 0px 1.5px 12px #fff;
    z-index: 20;
}
.quote1 {
    background-color: rgba(38, 166, 154, 30%);
    color: black;
    font-family: Quicksand;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    margin-top: -45px;
}
.about {
    margin: 0 auto;
    background-color: #f5f5f5;
    width: 82%;
    text-align: center;
    border: 0px solid;
    border-radius: 5px;
    margin-top: 100px;
    padding: 40px 10px 30px 10px;
}
.about p {
    font-size: 15px;
    text-align: left;
}
.introP {
    padding: 5px 10px 5px 10px;
    background: rgba(38, 166, 154, 20%);
}
.process {
    padding: 5px 10px 5px 10px;
}
.info {
    margin-left: 10px;
    margin-right: 10px;
}
#mainContainer {
    margin-top: 10px;
}
.skillDev, .skillLevel, .projects {
    margin-left: 5px;
    margin-right: 5px;
}
.skillDev {
    border: 2px solid maroon;
    padding: 15px;
}
.skillLevel {
    padding: 10px;
}
.skills {
    display: flex;
    margin-right: 20px;
}
.skills ul {
    font-size: 13px;
}
h3, h4 {
    font-family: "Yusei Magic";
    font-weight: 100;
    color: #800000;
}
h4 {
    font-size: 20px;
}
/* .fas {
    width: 50px;
} */
.hml {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: html 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes html {
    from {background-color: red;}
    to {background-color: purple;}
    100% {width: 90%;}
}
.css {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: css 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes css {
    from {background-color: red;}
    to {background-color: purple;}
    100% {width: 80%;}
}
.js {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: js 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes js {
    from {background-color: #f00000;}
    to {background-color: #800000;}
    100% {width: 50%;}
}
.sql {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: sql 5s ease-in-out;
    animation-fill-mode: both;
}
@keyframes sql {
    from {background-color: #f00000;}
    to {background-color: #808080;}
    100% {width: 25%;}
}
.fe {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: fe 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes fe {
    from {background-color: #f00000;}
    to {background-color: #800080;}
    100% {width: 99%;}
}
.be {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: be 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes be {
    from {background-color: #f00000;}
    to {background-color: #808080;}
    100% {width: 35%;}
}
.dpa {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: dpa 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes dpa {
    from {background-color: #f00000;}
    to {background-color: #800000;}
    100% {width: 65%;}
}
.anime {
    width: 10px;
    height: 10px;
    border: 0 solid #000;
    border-radius: 10px;
    color: white;
    animation: anime 5s ease-in-out;
    animation-fill-mode: both;
}
  
@keyframes anime {
    from {background-color: #f00000;}
    to {background-color: #800000;}
    100% {width: 68%;}
}
.hml p, .css p , .js p, .sql p, .fe p, .be p, .dpa p, .anime p{
    font-size: 10px;
    margin-left: 5px;
}
.hml, .css, .js, .sql {
    margin-top: -5px;
    margin-bottom: 20px;
}
.call2action {
    /* height: 200px; */
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 1px;
    /* padding-left: 10px; */
    box-shadow: 0px 0px 10px #000;
}
.call2action p {
    color: #800000
}
.name, .email {
    background-color: #696969;
    height: 25px;
    width: 90%;
    margin-bottom: 30px;
    border: 0px;
    box-shadow: 0px 0px 10px #808080;
    padding: 5px;
    padding-left: 10px;
    font-family: Quicksand;
    color: #f5f5f5;
}
.request {
    background-color: #696969;
    height: 200px;
    width: 90%;
    margin-bottom: 30px;
    border: 0px;
    box-shadow: 0px 0px 10px #808080;
    padding: 5px;
    padding-left: 10px;
    padding-top: 0px;
    font-family: Quicksand;
    color: #f5f5f5;
}
.call2button {
    color: #f5f5f5;
    font-size: 18px;
    background-color: #800000;
    border: 0px;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 35%;
    padding: 10px;
    /* margin-right: 25px; */
}
.copy_right {
    font-size: 16px;
}
footer {
    line-height: 1em;
    text-align: center;
    margin-bottom: 30px;
}
/* ***************** */

/* Large view */
@media only screen and (min-width: 60rem) {
}
/* ***************** */
